* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: "Alata", sans-serif;
}

#root {
  background: radial-gradient(
    ellipse at 50% 50%,
    rgba(182, 182, 182, 0.2) 22%,
    rgba(209, 209, 209, 1) 99%
  );
  overflow: auto;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  color: black;
  -webkit-font-smoothing: antialiased;
}

canvas {
  background: transparent;
  pointer-events: none;
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.wrapper > .canvas {
  position: absolute !important;
  top: 0;
  left: 0;
  pointer-events: none;
}

.out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: all !important;
}
